@-webkit-keyframes fondu {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fondu {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes progress-pages {
  0% {
    top: -150rem;
  }
  100% {
    top: 90px;
  }
}

@keyframes progress-pages {
  0% {
    top: -150rem;
  }
  100% {
    top: 90px;
  }
}

body {
  padding-top: 90px;
  background-color: #e6e6e6;
  margin: 0vh 4.25rem 4.25rem 4.25rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

#page0,
#page1,
#page2,
#page3 {
  display: none;
}

#page0.active,
#page1.active,
#page2.active,
#page3.active {
  display: block;
}

.empty-page {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background: #5c3710;
  opacity: 0;
  -webkit-animation: fondu 1000ms 1000ms forwards;
          animation: fondu 1000ms 1000ms forwards;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__contains {
  overflow: auto;
  background: white;
  width: 600px;
  padding: 20px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__title h1 {
  margin: 0;
}

.modal__form {
  margin-top: 20px;
}

.modal__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 5px;
}

.btn {
  padding: .375rem .75rem;
  border-radius: .25rem;
  text-decoration: none;
}

.btn--primary {
  color: white;
  -webkit-box-shadow: 3px 3px #e0a800, -10px -10px 80px 0px black;
          box-shadow: 3px 3px #e0a800, -10px -10px 80px 0px black;
  margin: 0 3px 3px 0;
}

.btn--primary:hover {
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.burger-button {
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-button span {
  width: 100%;
  height: 4px;
  background: #5c3710;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.burger-button span::before, .burger-button span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #5c3710;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.burger-button span::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger-button span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger-button.actived span {
  background-color: transparent;
}

.burger-button.actived span::before {
  -webkit-transform: translateY(0) rotateZ(45deg);
          transform: translateY(0) rotateZ(45deg);
  background: #e0a800;
}

.burger-button.actived span::after {
  -webkit-transform: translateY(0) rotateZ(-45deg);
          transform: translateY(0) rotateZ(-45deg);
  background: #e0a800;
}

.burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.burger-sidebar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 100%;
  top: 85px;
  left: calc(100% - 10rem);
  background: #5c3710;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.commande {
  position: absolute;
  bottom: -3rem;
  right: 0;
  padding: 5px;
  background: #5c3710;
  border-radius: .25rem;
  -webkit-box-shadow: 3px 3px #e0a800, 3px 3px 20px 0px black;
          box-shadow: 3px 3px #e0a800, 3px 3px 20px 0px black;
  margin: 0 3px 3px 0;
}

.commande:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.commande a {
  margin: 0;
  color: white;
  text-decoration: none;
}

@media all and (max-width: 920px) {
  .commande {
    bottom: -6rem;
    right: auto;
  }
}

@media all and (max-width: 750px) {
  .burger-button,
  .burger-sidebar,
  .burger-activated .burger-overlay {
    display: block;
  }
  .burger-activated .burger-sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.icon {
  background-color: #5c3710;
  width: 60px;
  height: 46px;
  border-radius: 5px;
  position: relative;
}

.icon__circle {
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25%;
  background-color: #5c3710;
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
}

.icon__flash {
  width: 6px;
  height: 6px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
}

.icon--bar {
  width: 100%;
  height: 20px;
  border: 5px solid #5c3710;
  border-radius: 6px;
  position: absolute;
  top: 90%;
  left: -5px;
  -webkit-box-shadow: inset 5px 10px 2px #5c3710, inset 35px 5px 2px #5c3710, inset -37px 5px 2px #5c3710;
          box-shadow: inset 5px 10px 2px #5c3710, inset 35px 5px 2px #5c3710, inset -37px 5px 2px #5c3710;
  border-bottom: transparent;
  border-right: 6px solid #5c3710;
  border-left: 6px solid #5c3710;
}

.text__danger {
  color: red;
}

.text__success {
  color: green;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 20px solid white;
  border-bottom: 120px solid white;
  border-right: 20px solid white;
  border-left: 20px solid white;
  -webkit-box-shadow: 0px 0px 10px 2px;
          box-shadow: 0px 0px 10px 2px;
  position: absolute;
  left: 4.25rem;
  right: 4.25rem;
  -webkit-animation: progress-pages 1200ms ease-in-out;
          animation: progress-pages 1200ms ease-in-out;
}

.card__body {
  padding: 1.25rem;
  color: white;
}

.card__body-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__title {
  margin-bottom: .75rem;
  margin-top: 0;
  font-size: 1.25rem;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5c3710;
  opacity: 0;
  -webkit-animation: fondu 1000ms 1000ms forwards;
          animation: fondu 1000ms 1000ms forwards;
}

.card__container-img {
  width: 50%;
  padding: 1.25rem;
}

.card__container-text {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@media all and (max-width: 920px) {
  .card__body {
    padding: 0.375rem;
  }
  .card__container {
    display: block;
  }
  .card__container-img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0.75rem;
  }
}

.table {
  color: #212529;
  -webkit-box-shadow: 0px 0px 10px 2px;
          box-shadow: 0px 0px 10px 2px;
  border-top: 20px solid white;
  border-bottom: 120px solid white;
  border-right: 20px solid white;
  border-left: 20px solid white;
  position: absolute;
  left: 4.25rem;
  right: 4.25rem;
  -webkit-animation: progress-pages 1200ms ease-in-out;
          animation: progress-pages 1200ms ease-in-out;
}

.table__container {
  background: #5c3710;
  opacity: 0;
  -webkit-animation: fondu 1000ms 1000ms forwards;
          animation: fondu 1000ms 1000ms forwards;
  color: white;
}

.table__container-product {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.table__container-img {
  width: 25%;
}

@media all and (max-width: 920px) {
  .table__container-product {
    text-align: center;
    display: block;
    padding-bottom: 30px;
  }
  .table__container-img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #5c3710;
  border-radius: .25rem;
  position: fixed;
  top: 0vh;
  left: 1.75rem;
  right: 1.75rem;
  background-color: #e6e6e6;
  z-index: 9999;
}

.header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 2px solid #5c3710;
}

.header__nav .nav-link {
  display: block;
  padding: .5rem 1rem;
}

.header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 18px;
  margin: 20px 0 20px 0;
}

.header__nav span {
  font-size: 14px;
  display: block;
}

.header__nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.header__nav a {
  text-decoration: none;
  color: #5c3710;
  margin-right: 20px;
}

.header__nav a.active {
  background: #5c3710;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border-radius: .25rem;
}

.header__title {
  color: #5c3710;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  font-size: 45px;
  margin: 20px;
}

.header__title p {
  margin: 0;
}

@media all and (max-width: 750px) {
  #js-header__nav {
    display: none;
  }
  .header__nav a {
    color: white;
  }
  .header__nav a.active {
    background: #e0a800;
    color: #5c3710;
  }
  .header__nav ul {
    display: block;
  }
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
}

.align-middle {
  margin: 10px;
}

@media all and (max-width: 920px) {
  .img-thumbnail {
    margin: 0.5rem -0.5rem;
  }
}

h5 {
  margin-bottom: .75rem;
}

.total {
  position: absolute;
  bottom: -3rem;
  padding: 5px;
  background: #5c3710;
  color: white;
  border-radius: .25rem;
}

.total p {
  margin: 0;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.quantity__less {
  color: white;
  text-decoration: none;
  border-radius: 100%;
  padding: 0 5px 0 5px;
  -webkit-box-shadow: 1px 1px #e0a800, 1px 0px 30px 0px black;
          box-shadow: 1px 1px #e0a800, 1px 0px 30px 0px black;
  margin: 0 10px 10px 8px;
}

.quantity__less:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 10px 8px 10px;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.quantity__more {
  color: white;
  text-decoration: none;
  border-radius: 100%;
  padding: 0 4px 0 4px;
  -webkit-box-shadow: 1px 1px #e0a800, 1px 0px 30px 0px black;
          box-shadow: 1px 1px #e0a800, 1px 0px 30px 0px black;
  margin: 0 10px 10px 10px;
}

.quantity__more:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 8px 8px 10px;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

@media all and (max-width: 920px) {
  .quantity {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.order {
  color: white;
  padding: 5px;
  background: #5c3710;
  opacity: 0;
  -webkit-animation: fondu 1000ms 1000ms forwards;
          animation: fondu 1000ms 1000ms forwards;
  -webkit-text-decoration: underline #e0a800;
          text-decoration: underline #e0a800;
  text-align: center;
}

.order__message {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */