.btn {
    padding: .375rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
    
    &-primary {
        color: $blanc;
        border: 1px solid $warning;
    
        &:hover {
            background-color: $warning;
        }
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    
}
.total {
    position: absolute;
    bottom: -3rem;
    padding: 5px;
    background: $primary;
    color: $blanc;
    border-radius: .25rem;

    & p {
        margin: 0;
    }
}

.commande {
    position: absolute;
    bottom: -3rem;
    right: 0;
    padding: 5px;
    background: $primary;
    border-radius: .25rem;
    box-shadow: 3px 3px $warning;

    &:hover {
        box-shadow: 0px 0px;
        transition: 100ms;
    }

    & a {
        margin: 0;
        color: $blanc;
        text-decoration: none;
    }
}