.btn {
    padding: .375rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
    
    &-primary {
        color: $blanc;
        box-shadow: 3px 3px $warning, -10px -10px 80px 0px $secondary;
        margin: 0 3px 3px 0;
        
        &:hover {
            margin: 0;
            box-shadow: none;
            transition: ease-in-out 100ms;
        }
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    
}
.total {
    position: absolute;
    bottom: -3rem;
    padding: 5px;
    background: $primary;
    color: $blanc;
    border-radius: .25rem;

    & p {
        margin: 0;
    }
}

.commande {
    position: absolute;
    bottom: -3rem;
    right: 0;
    padding: 5px;
    background: $primary;
    border-radius: .25rem;
    box-shadow: 3px 3px $warning, 3px 3px 20px 0px $secondary;
    margin: 0 3px 3px 0;

    &:hover {
        box-shadow: none;
        margin: 0;
        transition: ease-in-out 100ms;
    }

    & a {
        margin: 0;
        color: $blanc;
        text-decoration: none;
    }
}