.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    &__contains {
        overflow: auto;
        background: $white;
        width: 600px;
        padding: 20px;
        max-width: calc(100vw - 20px);
        max-height: calc(100vh - 20px);

        
    }
    &__title {
        display: flex;
        justify-content: space-between;
        
        & h1 {
            margin: 0;
        }
    }
    &__form {
        margin-top: 20px;

        &-group {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-top: 5px;
        }
    }
}
