.order {
    color: $white;
    padding: 5px;
    background: $primary;
    opacity: 0;
    animation: fondu 1000ms 1000ms forwards;
    text-decoration: underline $warning;
    text-align: center;

    &__message {
        font-size: 30px;
    }

}