@keyframes progress-pages {
    0%,20% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }

}

@keyframes fondu {
    0% {
        top: -150rem;
    }
    100% {
        top: 90px;
    }
}