//Cartes chaque produits
.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: 20px solid white;
    border-bottom: 120px solid white;
    border-right: 20px solid white;
    border-left: 20px solid white;
    box-shadow: 0px 0px 10px 2px;
    position: absolute;
    left: 4.25rem;
    right: 4.25rem;
    animation: progress-pages 1200ms ease-in-out;

    &-body {
        min-height: 1px;
        padding: 1.25rem;
        color: $blanc;

        &--title {
            display: flex;
            justify-content: space-between;
        }

    }

    &-title {
        margin-bottom: .75rem;
        margin-top: 0;
        font-size: 1.25rem;
    }

    &-img {
        width: 100%;
    }
}