.header {
    display: flex;
    border: 2px solid $primary;
    border-radius: .25rem;
    position: fixed;
    top: 0vh;
    left: 1.75rem;
    right: 1.75rem;
    background-color: #e6e6e6;
    z-index: 9999;

    &__nav {
        justify-content: space-between;
        border-left: 2px solid $primary;

        & .nav-link {
            display: block;
            padding: .5rem 1rem;
        }
        
        & ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 18px;
            margin: 20px 0 20px 0;
        }

        & span {
            font-size: 14px;
            display: block;
        }

        & .buttons {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        & a {
            text-decoration: none;
            color: $primary;
            margin-right: 20px;
    
            &.active {
                background: $primary;
                color: $blanc;
                transition: all 500ms;
                border-radius: .25rem;
            }
        }
    }

    &__title {
        color: $primary;
        ;
        display: flex;
        margin-right: 20px;
        font-size: 45px;
        margin: 20px 20px 0px 20px;

        & p {
            margin: 0;
        }
    }
}